<form [formGroup]="formGroup" novalidate>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title translate>
        global.filters
        <mat-icon
          routerLink="/secret/new"
          matTooltip="{{ 'button.new' | translate }}"
          color="primary"
          >create</mat-icon
        >
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-grid-list cols="1" rowHeight="75">
      <mat-grid-tile>
        <app-eru-input
          [placeholder]="'vault.secret.search'"
          [inputFormControl]="searchFormControl"
          (reset)="restart.next($event)"
          (search)="filterSearch()"
          (clear)="filterClear('search')"
        ></app-eru-input>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-eru-buttons
          [searchDisabled]="formGroup.invalid"
          (search)="filterSearch()"
          [link]="'/secret/new'"
        ></app-eru-buttons>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-expansion-panel>
</form>
