<form [formGroup]="formGroup" novalidate class="eru-form">
  <!-- NAME -->
  <mat-form-field class="input-width">
    <mat-label translate>finance.incomeSource.name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>
  <!-- ACTIVE -->
  <mat-slide-toggle formControlName="active" color="primary">
    {{ "global.slideToggle." + formGroup.value.active | translate }}
  </mat-slide-toggle>
  <!-- BUTTONS -->
  <app-form-buttons
    [disabled]="formGroup.invalid"
    [link]="'/income-source'"
    (save)="save($event)"
    class="margin-top-20"
  >
  </app-form-buttons>
</form>
