<form [formGroup]="formGroup" novalidate>
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title translate>
        global.filters
        <div>
          <mat-icon
            routerLink="/balance/new"
            matTooltip="{{ 'button.new' | translate }}"
            color="primary"
            >add</mat-icon
          >
        </div>
      </mat-panel-title>
    </mat-expansion-panel-header>
    <mat-grid-list cols="3" rowHeight="75">
      <mat-grid-tile>
        <app-basic-select
          [label]="'finance.balance.dayCalendarYear'"
          [selectFormControl]="dayCalendarYearFormControl"
          [values]="years"
          (selectionChange)="dateSelectionChange()"
        ></app-basic-select>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-basic-select
          [label]="'finance.balance.dayCalendarMonth'"
          [selectFormControl]="dayCalendarMonthFormControl"
          [values]="months"
          (selectionChange)="dateSelectionChange()"
        ></app-basic-select>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-basic-select
          [label]="'finance.balance.dayCalendarDayInMonth'"
          [selectFormControl]="dayCalendarDayInMonthFormControl"
          [values]="days"
          (selectionChange)="filterSearch()"
          (clear)="filterClear('dayCalendarDayInMonth')"
        ></app-basic-select>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="input-width">
          <mat-label>{{ "finance.balance.sourceId" | translate }}</mat-label>
          <mat-select #sourceSelect formControlName="sourceId">
            <div (mouseleave)="sourceSelect.close()">
              <mat-option>
                <ngx-mat-select-search
                  ngModel
                  [ngModelOptions]="{ standalone: true }"
                  (ngModelChange)="searchSources($event)"
                  placeholderLabel="{{
                    'finance.balance.searchSources' | translate
                  }}"
                  noEntriesFoundLabel="{{
                    'global.noEntriesFoundLabel' | translate
                  }}"
                >
                </ngx-mat-select-search>
              </mat-option>
              <mat-option
                *ngFor="let source of (sources$ | async)?.content"
                [value]="source.id"
                (onSelectionChange)="filterSearchWithEvent($event)"
              >
                {{ source.name }}
              </mat-option>
            </div>
          </mat-select>
          <button
            *ngIf="formGroup.value.sourceId"
            matSuffix
            mat-icon-button
            matTooltip="{{ 'button.clear' | translate }}"
            (click)="filterClear('sourceId')"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <mat-form-field class="input-width">
          <mat-label>{{ "finance.balance.categoryId" | translate }}</mat-label>
          <mat-select #categorySelect formControlName="categoryId">
            <div (mouseleave)="categorySelect.close()">
              <mat-option>
                <ngx-mat-select-search
                  ngModel
                  [ngModelOptions]="{ standalone: true }"
                  (ngModelChange)="searchCategories($event)"
                  placeholderLabel="{{
                    'finance.balance.searchCategories' | translate
                  }}"
                  noEntriesFoundLabel="{{
                    'global.noEntriesFoundLabel' | translate
                  }}"
                >
                </ngx-mat-select-search>
              </mat-option>
              <mat-option
                *ngFor="let category of (categories$ | async)?.content"
                [value]="category.id"
                (onSelectionChange)="filterSearchWithEvent($event)"
              >
                {{ category.name }}
              </mat-option>
            </div>
          </mat-select>
          <button
            *ngIf="formGroup.value.categoryId"
            matSuffix
            mat-icon-button
            matTooltip="{{ 'button.clear' | translate }}"
            (click)="filterClear('categoryId')"
          >
            <mat-icon>close</mat-icon>
          </button>
        </mat-form-field>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-basic-select
          [label]="'finance.balance.balanceType'"
          [selectFormControl]="balanceTypeFormControl"
          [values]="balanceTypes"
          (selectionChange)="filterSearch()"
        >
        </app-basic-select>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-eru-input
          [placeholder]="'finance.balance.search'"
          [inputFormControl]="searchFormControl"
          (restart)="restart.next($event)"
          (search)="filterSearch()"
          (clear)="filterClear('search')"
        ></app-eru-input>
      </mat-grid-tile>
      <mat-grid-tile>
        <app-filter-status
          [statusFormControl]="activeFormControl"
          [translation]="'global.radioButton'"
          (search)="filterSearch()"
        ></app-filter-status>
      </mat-grid-tile>
      <mat-grid-tile colspan="3">
        <app-eru-buttons
          [searchDisabled]="formGroup.invalid"
          (search)="filterSearch()"
          [link]="'/balance/new'"
        >
        </app-eru-buttons>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-expansion-panel>
</form>
