<mat-progress-bar
  mode="indeterminate"
  *ngIf="loaderService.isLoading | async"
  color="accent"
></mat-progress-bar>
<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span translate>app.title</span>
    <button mat-icon-button>
      <mat-icon
        (click)="sidenav.toggle()"
        matTooltip="{{ 'app.menu.tooltip' | translate }}"
        color="accent"
        >menu</mat-icon
      >
    </button>
    <span>{{ title }}</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container>
  <mat-sidenav #sidenav>
    <mat-nav-list>
      <a mat-list-item (click)="navigate('/home')">{{
        "app.menu.home" | translate
      }}</a>
    </mat-nav-list>
    <mat-nav-list>
      <a mat-list-item (click)="navigate('/secret')">{{
        "app.menu.secret" | translate
      }}</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="content">
      <router-outlet></router-outlet>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
