<form [formGroup]="formGroup" novalidate class="eru-form">
  <mat-form-field class="input-width">
    <mat-label translate>vault.secret.name</mat-label>
    <input matInput formControlName="name" />
  </mat-form-field>
  <mat-form-field class="input-width">
    <mat-label translate>vault.secret.description</mat-label>
    <textarea
      matInput
      formControlName="description"
      cdkTextareaAutosize
    ></textarea>
  </mat-form-field>
  <mat-form-field class="input-width">
    <mat-label translate>vault.secret.link</mat-label>
    <input matInput formControlName="link" />
  </mat-form-field>
  <mat-form-field class="input-width">
    <mat-label translate>vault.secret.username</mat-label>
    <input matInput formControlName="username" />
  </mat-form-field>
  <mat-form-field class="input-width">
    <mat-label translate>vault.secret.password</mat-label>
    <input matInput formControlName="password" />
  </mat-form-field>
  <mat-slide-toggle formControlName="active" color="primary">
    {{ "global.slideToggle." + formGroup.value.active | translate }}
  </mat-slide-toggle>
  <app-form-buttons
    [disabled]="formGroup.invalid"
    [link]="'/secret'"
    (save)="save($event)"
    class="margin-top-20"
  ></app-form-buttons>
</form>
