<form [formGroup]="formGroup" novalidate class="eru-form">
  <mat-form-field class="input-width">
    <input
      matInput
      placeholder="{{ 'vault.secret.name' | translate }}"
      formControlName="name"
    />
  </mat-form-field>
  <mat-form-field class="input-width">
    <textarea
      matInput
      placeholder="{{ 'vault.secret.description' | translate }}"
      formControlName="description"
      cdkTextareaAutosize
    ></textarea>
  </mat-form-field>
  <mat-form-field class="input-width">
    <input
      matInput
      placeholder="{{ 'vault.secret.link' | translate }}"
      formControlName="link"
    />
  </mat-form-field>
  <mat-form-field class="input-width">
    <input
      matInput
      placeholder="{{ 'vault.secret.username' | translate }}"
      formControlName="username"
    />
  </mat-form-field>
  <mat-form-field class="input-width">
    <input
      matInput
      placeholder="{{ 'vault.secret.password' | translate }}"
      formControlName="password"
    />
  </mat-form-field>
  <div>
    <button
      mat-raised-button
      color="primary"
      [disabled]="formGroup.invalid"
      (click)="save(['/secret'])"
    >
      {{ "button.save" | translate }}
    </button>
    &nbsp;
    <a mat-raised-button routerLink="/secret">{{
      "button.back" | translate
    }}</a>
  </div>
</form>
