<form [formGroup]="formGroup" novalidate class="eru-form">
  <mat-form-field class="input-width">
    <input
      matInput
      placeholder="{{ 'vault.secret.name' | translate }}"
      formControlName="name"
    />
  </mat-form-field>
  <mat-form-field class="input-width">
    <textarea
      matInput
      placeholder="{{ 'vault.secret.description' | translate }}"
      formControlName="description"
      cdkTextareaAutosize
    ></textarea>
  </mat-form-field>
  <mat-form-field class="input-width">
    <input
      matInput
      placeholder="{{ 'vault.secret.link' | translate }}"
      formControlName="link"
    />
  </mat-form-field>
  <mat-form-field class="input-width">
    <input
      matInput
      placeholder="{{ 'vault.secret.username' | translate }}"
      formControlName="username"
    />
  </mat-form-field>
  <mat-form-field class="input-width">
    <input
      matInput
      placeholder="{{ 'vault.secret.password' | translate }}"
      formControlName="password"
    />
  </mat-form-field>
  <mat-slide-toggle formControlName="active" color="primary">
    {{ "global.slideToggle." + formGroup.value.active | translate }}
  </mat-slide-toggle>
  <app-form-buttons
    [disabled]="formGroup.invalid"
    [link]="'/secret'"
    (save)="save($event)"
    class="margin-top-20"
  ></app-form-buttons>
</form>
