<mat-card class="card-margin" *ngIf="(balanceSum$ | async) as balanceSum">
    <mat-chip-listbox aria-label="Fish selection">
        <mat-chip-option color="primary" selected>
            {{ "finance.source.values.partial" | translate }}{{ balanceSum.partial | currency: "BRL" }}
        </mat-chip-option>
        <mat-chip-option color="accent" selected>
            {{ "finance.source.values.total" | translate }}{{ balanceSum.total | currency: "BRL" }}
        </mat-chip-option>
    </mat-chip-listbox>
</mat-card>