<form [formGroup]="formGroup" novalidate class="eru-form">
  <!-- SEQUENCE -->
  <mat-form-field class="input-width">
    <mat-label translate>finance.balance.sequenceLabel</mat-label>
    <input matInput formControlName="sequence" [readonly]="true" />
  </mat-form-field>
  <!-- DAY CALENDAR DATE -->
  <mat-form-field class="input-width">
    <mat-label translate>finance.balance.dayCalendarDate</mat-label>
    <input
      matInput
      [matDatepicker]="picker"
      formControlName="dayCalendarDate"
      readonly
    />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker disabled="false"></mat-datepicker>
  </mat-form-field>
  <!-- SOURCE ID -->
  <mat-form-field class="input-width">
    <mat-label translate>finance.balance.sourceId</mat-label>
    <mat-select #sourceSelect formControlName="sourceId">
      <div (mouseleave)="sourceSelect.close()">
        <mat-option>
          <ngx-mat-select-search
            ngModel
            [ngModelOptions]="{ standalone: true }"
            (ngModelChange)="searchSources($event)"
            placeholderLabel="{{ 'finance.balance.searchSources' | translate }}"
            noEntriesFoundLabel="{{ 'global.noEntriesFoundLabel' | translate }}"
          >
          </ngx-mat-select-search>
        </mat-option>
        <mat-option
          *ngFor="let source of (sources$ | async)?.content"
          [value]="source.id"
        >
          {{ source.name }}
        </mat-option>
      </div>
    </mat-select>
  </mat-form-field>
  <!-- CATEGORY ID -->
  <mat-form-field class="input-width">
    <mat-label translate>finance.balance.categoryId</mat-label>
    <mat-select #categorySelect formControlName="categoryId">
      <div (mouseleave)="categorySelect.close()">
        <mat-option>
          <ngx-mat-select-search
            ngModel
            [ngModelOptions]="{ standalone: true }"
            (ngModelChange)="searchCategories($event)"
            placeholderLabel="{{
              'finance.balance.searchCategories' | translate
            }}"
            noEntriesFoundLabel="{{ 'global.noEntriesFoundLabel' | translate }}"
          >
          </ngx-mat-select-search>
        </mat-option>
        <mat-option
          *ngFor="let category of (categories$ | async)?.content"
          [value]="category.id"
        >
          {{ category.name }}
        </mat-option>
      </div>
    </mat-select>
  </mat-form-field>
  <!-- AMOUNT -->
  <mat-form-field class="input-width">
    <mat-label translate>finance.balance.amount</mat-label>
    <input
      matInput
      formControlName="amount"
      currencyMask
      [options]="currencyMaskConfig"
    />
  </mat-form-field>
  <!-- CODE -->
  <mat-form-field class="input-width">
    <mat-label translate>finance.balance.code</mat-label>
    <input matInput formControlName="code" />
  </mat-form-field>
  <!-- DESCRIPTION -->
  <mat-form-field class="input-width">
    <mat-label translate>finance.balance.description</mat-label>
    <input matInput formControlName="description" />
  </mat-form-field>
  <!-- BALANCE TYPE -->
  <app-basic-select
    [label]="'finance.balance.balanceType'"
    [selectFormControl]="balanceTypeFormControl"
    [values]="balanceTypes"
  >
  </app-basic-select>
  <!-- ACTIVE -->
  <div>
    <mat-slide-toggle formControlName="active" color="primary">
      {{ "global.slideToggle." + formGroup.value.active | translate }}
    </mat-slide-toggle>
  </div>
  <app-form-buttons
    [disabled]="formGroup.invalid"
    [link]="'/balance'"
    (save)="saveBalance($event)"
    class="margin-top-20"
  >
  </app-form-buttons>
</form>
